bcrypt==3.2.0
cffi==1.14.6
click==8.0.1
colorama==0.4.4
Flask==2.0.1
Flask-Bcrypt==0.7.1
Flask-Passlib==0.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
passlib==1.6.1
pycparser==2.20
PyMySQL==1.0.2
six==1.16.0
Werkzeug==2.0.1
