<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for( 'static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for( 'static', filename='css/sb-admin-2.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{{ url_for( 'static', filename='vendor/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet">

    <title>게시판</title>
</head>

<body>
    <h1>게시판</h1>

    <!-- for문을 하고 닫을때 endfor를 꼭 써야함 ... 진자2 문법의 특성임 ... -->

    <table>
        <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>AUTHOR</th>
            <th>DATE</th>
            <th>EDIT</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{ i['id'] }}</td>
            <td>{{ i['title'] }}</td>
            <td>{{ i['author'] }}</td>
            <td>{{ i['create_at'] }}</td>
            <td><button>편집</button><button>삭제</button></td>

        </tr>
        {% endfor %}
    </table>
</body>

</html>